@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100dvh;
}

body {
    font-family: "Public Sans", sans-serif;
    background-color: #141414;
    color: #f7f8f8;
}

.jaro {
    font-family: "Jaro", sans-serif;
}
