@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
}

@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;
        scrollbar-color: #3f3f46 transparent; /* zinc-700 transparent */
    }

    .scrollbar-thin::-webkit-scrollbar {
        width: 6px;
    }

    .scrollbar-thin::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        background-color: #3f3f46;
        border-radius: 20px;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
        background-color: #52525b; /* zinc-600 */
    }
}

html,
body,
#root {
    min-height: 100dvh;
}

body {
    font-family: "Public Sans", sans-serif;
    background-color: #141414;
    color: #f7f8f8;
}

.jaro {
    font-family: "Jaro", sans-serif;
}
