services:
    postgres:
        image: pgvector/pgvector:pg16
        container_name: my_postgres
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: event_horizon
            POSTGRES_HOST_AUTH_METHOD: md5 # Use md5 instead of trust for better security
        ports:
            - "5433:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5

volumes:
    postgres_data:
